body {
    font-family: 'Poooins', sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 50px;
    
}
section {
    display: flex;
}
.first-banner {
  
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;


}
.half-width {
    width: 50%;
    padding-left: 2%;
}
.half-width img {
    width: 80%;
}
.half-width .orange {
    color: orange;
}
.a-button {
    font-weight: 700;
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(orange, tomato);
    text-transform: uppercase;
}
.half-width p {
    font-size: 24px;
}
h3 {
    font-size: 25px;
}
.secend-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}